*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width:100vw;
    background-color: rgb(150, 54, 195);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
.weather-container{
    width:90%;
    height:70vh;
    background-color: rgb(235, 239, 244);
    border-radius: 30px;
    box-shadow: 1px 1px 6px 1px rgba(32, 16, 16, 0.877);
}
.weather-options{
    width:90%;
    height:20%;
    background-color: rgb(168, 116, 187);
    border-radius: 30px;
    box-shadow: 1px 1px 6px 1px rgba(32, 16, 16, 0.877);
    margin-top:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    padding:2rem;
    margin:2rem;
}
#get-weather-btn{
    font-size: 2rem;
    border-radius:10px;
    padding:1rem;
}
#get-weather-btn:hover{
    background-color: rgb(216, 197, 218);
    cursor: pointer;
}
#weather-cities{
   width:15rem;
   height:4rem;
   font-size: 2rem;
   border-radius:3px;   
}
#weather-label{
   font-size: 2rem;
}
#location{
    display:block;
   height:4rem;
   font-size: 3rem;
   margin-top:2rem;
   align-self: center;
   text-align: center;
}